body, html {
    z-index: 1;
}

.parallaxMe {
    background-image: url("images/me.png");
}

.parallaxAbout {
    background-image: url("images/pretty.JPG");
}

.parallaxWMRC {
    background-image: url("images/SASE_WMRC_2019_Funny.jpg");
}

.parallaxVEX {
    background-image: url("images/DFTB.jpg");
}

.parallaxCodeQuest {
    background-image: url("images/CodeQuest_2018.png");
}

.parallaxMe,
.parallaxAbout,
.parallaxWMRC,
.parallaxVEX,
.parallaxCodeQuest {
    background-image: relative;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed 
    Source: w3schools.com
*/
@media only screen and (max-device-width: 1366px) {
    .parallaxMe,
    .parallaxAbout,
    .parallaxWMRC,
    .parallaxVEX,
    .parallaxCodeQuest  {
      background-attachment: scroll;
    }
}

.boldOverlay {
    background-color: transparent;

    margin-left: 7%;
    font-size: 40pt;
    font-weight: bolder;
    color: black;
}

.topNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45078c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.contactInfo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45078c;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a {
    color: white;
} 

.credit {
    text-align: right; 
    margin-right: 2%;
    line-height: 70%;
    font-size: 10pt;
}

.lightGray {
    background-color: #cccccc;
    padding: 10px 10px;
}

.darkGray {
    background-color: #333333;
    color: white;
    padding: 10px 10px;
}

.center {
    text-align: center;
}

.caption {
    text-align: center;
    color: #FFFFFF;
}

.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-decoration: underline;
    border-radius: 10px;
    border: 1px solid white;
}

.purpleHover:hover {
    background-color: #45078c;
    color: white;
}

.leftAbout {
    padding: 10px;
    width: 30%;
}

.alignRight {
    text-align: right;
}

.modalHover:hover {
    background-color: #45078c;
    color: white;
}

.colLeft {
    flex: 55%;
    padding: 10px;
}

.colRight {
    flex: 43%;
    padding: 15px;
    margin-right: 2%;
}

.row {
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 20;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}