.parallaxMe {
    background-image: url("images/me.png");
}

.parallaxAbout {
    background-image: url("images/pretty.JPG");
}

.parallaxWMRC {
    background-image: url("images/SASE_WMRC_2019_Funny.jpg");
}

.parallaxVEX {
    background-image: url("images/DFTB.jpg");
}

.parallaxCodeQuest {
    background-image: url("images/CodeQuest_2018.png");
}

.parallaxMe,
.parallaxAbout,
.parallaxWMRC,
.parallaxVEX,
.parallaxCodeQuest {
    background-image: relative;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed 
    Source: w3schools.com
*/
@media only screen and (max-device-width: 1366px) {
    .parallaxMe,
    .parallaxAbout,
    .parallaxWMRC,
    .parallaxVEX,
    .parallaxCodeQuest  {
      background-attachment: scroll;
    }
}

.topNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45078c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.contactInfo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45078c;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a {
    color: white;
} 
